# Path where you will
P_NOTEBOOKS_DATA=~/docker-volumes/notebooks-data/

JUPYTER_BASE_PORT=8888
JUPYTER_SPARK_PORT=8889

# The id of your user on the host
# You can type `id` in the terminal and write the here the value of uid
UID=1000

# Settings for the local spark cluster
PYSPARK_NUMBER_CORES=4
PYSPARK_MEMORY_GB=12
